
body {
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2em;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url(bg_web.png);
    }
}

@media screen and (max-width: 768px) {
    body {
        background-image: url(bg_responsive.png);
    }
}
.main {
    margin: auto;
    width: 50%;
    height: 50%;
    border: 3px solid green;
    padding: 10px;
}

#logo {
    margin-top: 8%;
}

#form {
    margin: auto;
}

#input {
   border: 1px solid #cccccc; //цвет рамки
   width: 120px; // ширина на свое усмотрение
   color: #cccccc; //цвет шрифта в обычном состоянии
   font-size: 11px; // Размер шрифта
   font-family: Tahoma; // Стиль шрифта
}
#email {
    width: 100%;
    border: 1px solid white;
    background: #000000 !important;
    color: white;
    padding: 1%;
    padding-left: 7%;
}

#emailform {
    
}

.join {
    background-color: #67c5d1;
    float: right;
    border: #67c5d1;
    padding: 1%;
    padding-left: 8%;
    padding-right: 8%;
    margin: 2%;
    margin-right: 0;
}

.formblock {
    width: 100%;
    height: 20%;
    padding: 3% 5% 12%;
    background-color: black;
    opacity: 0.8;
    border-radius: 5px;
    margin-left: 25%;
}

#txt {
    display: inline-block;
    color: white;
    font-size: 1.4em;
}

#contact {
    padding-top: 2%;
    padding-bottom: 10%;
}

#close {
    padding-top: 1.5%;
    display: inline-block;
    float: right;
}



#fields {
    height: 100em;
}

#binput {
    width: 100%;
    border: 1px solid white;
    background: #000000 !important;
    color: white;
    padding: 1%;
    padding-left: 2%;
    margin-bottom: 3%
}

#freetxt {
    width: 100%;
    background-color: black;
    color: white;
    border-color: white;
    padding: 1%;
    padding-left: 2%;
    margin-bottom: 1%;
}

#sumbit {
    margin-top: 0;
}

#column {
    margin-left: 2%;
}
